<<<<<<< HEAD
.find-menu {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.find-menu__icon {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 100px;
  text-align: center;
  vertical-align: center;
}

.find-menu__icon i {
  align-items: flex-end;
  margin-bottom: 20px;
}

.recommended-friends,
.open-chat {
  border-top: var(--main-border);
  padding-top: 20px;
  color: var(--gray);
}

.open-chat__column {
  display: flex;
  justify-content: space-between;
  color: var(--gray);
}

.recommended-friends span {
  display: block;
  margin: 100px 0;
  text-align: center;
}

.screen-header__icons {
  position: relative;
}

.set__new {
  background-color: tomato;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  display: flex;
  position: absolute;
  right: -5px;
  top: 0px;
}

.open-post h4 {
  color: #20252b;
  margin-bottom: 10px;
}

.open-chat__header {
  margin-bottom: 15px;
}

.open-post__ch1,
.open-post__ch2 {
  display: flex;
  justify-content: space-between;
  height: 110px;
  align-items: center;
}

.open-post__ch2 {
  border-top: var(--main-border);
}

.open-post__info {
  display: flex;
  flex-direction: column;
}

.open-post__img img {
  width: 88px;
  height: 88px;
  border-radius: 8px;
}

.open-post__img {
  display: flex;
  position: relative;
}

.open-post__img--heart {
  font-size: 12px;
  display: flex;
  position: absolute;
  right: 6px;
  bottom: 6px;
  height: 20px;
  width: 50px;
  color: #f9f9fa;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
}

.open-post__status {
  margin-top: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.open-post__status img {
  height: 20px;
  width: 20px;
  border-radius: 8px;
  border: 0.1px solid rgba(0, 0, 0, 0.3);
  margin-right: 6px;
}

.open-post__status--now {
  color: #ff76ca;
  margin-left: 5px;
}
=======
.find-menu {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.find-menu__icon {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 100px;
  text-align: center;
  vertical-align: center;
}

.find-menu__icon i {
  align-items: flex-end;
  margin-bottom: 20px;
}

.recommended-friends,
.open-chat {
  border-top: var(--main-border);
  padding-top: 20px;
  color: var(--gray);
}

.open-chat__column {
  display: flex;
  justify-content: space-between;
  color: var(--gray);
}

.recommended-friends span {
  display: block;
  margin: 100px 0;
  text-align: center;
}

.screen-header__icons {
  position: relative;
}

.set__new {
  background-color: tomato;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  display: flex;
  position: absolute;
  right: -5px;
  top: 0px;
}

.open-post h4 {
  color: #20252b;
  margin-bottom: 10px;
}

.open-chat__header {
  margin-bottom: 15px;
}

.open-post__ch1,
.open-post__ch2 {
  display: flex;
  justify-content: space-between;
  height: 110px;
  align-items: center;
}

.open-post__ch2 {
  border-top: var(--main-border);
}

.open-post__info {
  display: flex;
  flex-direction: column;
}

.open-post__img img {
  width: 88px;
  height: 88px;
  border-radius: 8px;
}

.open-post__img {
  display: flex;
  position: relative;
}

.open-post__img--heart {
  font-size: 12px;
  display: flex;
  position: absolute;
  right: 6px;
  bottom: 6px;
  height: 20px;
  width: 50px;
  color: #f9f9fa;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
}

.open-post__status {
  margin-top: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.open-post__status img {
  height: 20px;
  width: 20px;
  border-radius: 8px;
  border: 0.1px solid rgba(0, 0, 0, 0.3);
  margin-right: 6px;
}

.open-post__status--now {
  color: #ff76ca;
  margin-left: 5px;
}
>>>>>>> cba6a6b6fd5aa39a6db467dce999b2feeecf5e24
