<<<<<<< HEAD
.user-component__text span {
  display: flex;
  margin-top: 10px;
  color: var(--gray);
}

.user-component__text i {
  color: tomato;
  margin-left: 10px;
}

.user-component__column:last-child i {
  font-size: 25px;
  color: black;
}

.more-function {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0;
}

.function-icon,
.function-icon__two {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.function-icon__two {
  height: 160px;
  justify-content: space-between;
}

.function-icon {
  position: relative;
}

.function-icon i {
  font-size: 30px;
}

.function-icon span {
  font-size: 14px;
  margin: 10px;
}

.drive-new {
  width: 6px;
  height: 6px;
  top: -20px;
  right: 5px;
}

.suggestions {
  display: flex;
  flex-direction: column;
  border-top: var(--main-border);
}

.suggestions h6 {
  margin: 25px 0;
  color: var(--gray);
}

.suggestions-apps {
  display: flex;
  width: 75%;
  justify-content: space-evenly;
}
.more-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: var(--gray);
}

.more-app img {
  width: 45px;
  border-radius: 10px;
  margin-bottom: 10px;
}
=======
.user-component__text span {
  display: flex;
  margin-top: 10px;
  color: var(--gray);
}

.user-component__text i {
  color: tomato;
  margin-left: 10px;
}

.user-component__column:last-child i {
  font-size: 25px;
  color: black;
}

.more-function {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0;
}

.function-icon,
.function-icon__two {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.function-icon__two {
  height: 160px;
  justify-content: space-between;
}

.function-icon {
  position: relative;
}

.function-icon i {
  font-size: 30px;
}

.function-icon span {
  font-size: 14px;
  margin: 10px;
}

.drive-new {
  width: 6px;
  height: 6px;
  top: -20px;
  right: 5px;
}

.suggestions {
  display: flex;
  flex-direction: column;
  border-top: var(--main-border);
}

.suggestions h6 {
  margin: 25px 0;
  color: var(--gray);
}

.suggestions-apps {
  display: flex;
  width: 75%;
  justify-content: space-evenly;
}
.more-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: var(--gray);
}

.more-app img {
  width: 45px;
  border-radius: 10px;
  margin-bottom: 10px;
}
>>>>>>> cba6a6b6fd5aa39a6db467dce999b2feeecf5e24
